<h2>Authority Sign Up</h2>

<%= form_for(@user, url: create_authority_registration_path) do |f| %>
  <%= f.label :email %>
  <%= f.email_field :email, autofocus: true %>

  <%= f.label :password %>
  <%= f.password_field :password, autocomplete: "new-password" %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, autocomplete: "new-password" %>

  <%= f.submit "Sign up" %>
<% end %>
